{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
{{ name }}
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
			<div class="p-4 d-flex justify-content-center">
				<img src="/static/wow.jpg" alt="" width="160" height="160">
			</div>
      <h1 class="pt-3 pb-2 text-center">{{ name }}</h1>
      <p class="lead">Your document is ready for download. Please select "Download PDF" from below,
				and you'll be redirected to a page where you can download or print the document.
				The QR code contains all the info you need to have a successful check-in. Enjoy your break!</p>
				<div class="row">
					<div class="mx-auto">
						<a href="/static/{{file}}" target="blank"><button class='btn btn-success'>Download PDF</button></a>
					<p class="pt-5"><strong>{{ message }}</strong></p>
					</div>
				</div>
				<p><a href="{{ url_for('index') }}">Return to search page</a></p>

    </div>
  </div>
</div>

{% endblock %}
